<link rel="stylesheet" type="text/css" href="styles/menu.css">

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><i class="fa fa-line-chart fa-lg brandIcon" aria-hidden="true"></i></a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li ng-class="{'active':homeMenu}"><a href="#/home">Home</a></li>
				<li ng-class="{'active':catalogMenu}"><a href="#/catalog">Catalog</a></li>
				<li ng-class="{'active':locationMenu}"><a href="#/location">Location</a></li>
				
			</ul>
		</div>
	</div>
</nav>